
<div id="header">

  <div id="title">
    <h1>Carl Svensson</h1>
    <h2>Engineer Creative Hobbyist</h2>
  </div>

  <ul class="social_buttons">
    <li><%=link_to image_tag("facebook.png", :border => 0, :width => "36px"), "https://www.facebook.com/carleriksvensson" %></li>
    <li><%=link_to image_tag("googleplus.png", :border => 0, :width => "36px"), "https://plus.google.com/+CarlErikSvensson" %></li>
    <li><%=link_to image_tag("linkedin.png", :border => 0, :width => "36px"), "www.linkedin.com/in/carleriksvensson/" %> </li>
    <li><%=link_to image_tag("github_white.png", :border => 0, :width => "36px"), "https://github.com/cecomp64" %></li>
  </ul>

</div>

<div id="body">
  <div id="center-flow">
    <div id="portrait">
    </div>
    <div id="info">
      <h1>The Basics</h1>
      <div class="circle orange">
        <h2>Resume</h2>
      </div>
      <div class="circle red">
        <h2>Code</h2>
      </div>
      <div class="circle blue">
        <h2>Design</h2>
      </div>

      <p class="intro_text">
      Some text introduction.
      </p>
    </div>
  </div>
</div>

<div id="footer">
  <ul class="footer_nav">
    <li>Resume | </li>
    <li>Code | </li>
    <li>Design | </li>
    <li>Photography | </li>
    <li>Music | </li>
    <li>About</li>
  </ul>
  <ul class="social_buttons center">
    <li><%=link_to image_tag("facebook.png", :border => 0, :width => "36px"), "https://www.facebook.com/carleriksvensson" %></li>
    <li><%=link_to image_tag("googleplus.png", :border => 0, :width => "36px"), "https://plus.google.com/+CarlErikSvensson" %></li>
    <li><%=link_to image_tag("linkedin.png", :border => 0, :width => "36px"), "www.linkedin.com/in/carleriksvensson/" %> </li>
    <li><%=link_to image_tag("twitter.png", :border => 0, :width => "36px"), "https://twitter.com/cecomp64" %></li>
    <li><%=link_to image_tag("github_white.png", :border => 0, :width => "36px"), "https://github.com/cecomp64" %></li>
  </ul>
  <p>
  Some generic footer information.
  Stay in touch via social media.
  </p>
</div>
