<h1>Listing gallery_items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Gallery</th>
      <th>Cover</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gallery_items.each do |gallery_item| %>
      <tr>
        <td><%= gallery_item.title %></td>
        <td><%= gallery_item.description %></td>
        <td><%= gallery_item.gallery_id %></td>
        <td><%= gallery_item.cover %></td>
        <td><%= link_to 'Show', gallery_item %></td>
        <td><%= link_to 'Edit', edit_gallery_item_path(gallery_item) %></td>
        <td><%= link_to 'Destroy', gallery_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery item', new_gallery_item_path %>
