<%= form_for(@resume_item) do |f| %>
  <% if @resume_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume_item.errors.count, "error") %> prohibited this resume_item from being saved:</h2>

      <ul>
      <% @resume_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.date_select :end %>
    <%= f.label :current %>
    <%= f.check_box(:current, {:multiple => false}, true, nil) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :institution %><br>
    <%= f.text_field :institution %>
  </div>
  <div class="field">
    <%
      tag_s = ""
      @resume_item.tags.each do |tag|
        tag_s += "#{tag.value},"
      end
    %>
    <%= f.label :tags %><br>
    <%= f.text_field :tags, value: tag_s %>
  </div>

  <div class="actions">
    <%= f.hidden_field :resume_id, :value => (!@resume.nil? && !@resume.id.nil?) ? @resume.id : -1 %>
    <%= f.submit %>
  </div>

<% end %>
