
<table>
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Description</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resume_items.each do |resume_item| %>
      <tr>
        <td><%= resume_item.job_title %></td>
        <td><%= resume_item.start %></td>
        <td><%= resume_item.end %></td>
        <td><%= resume_item.description %></td>
        <td><%= resume_item.location %></td>
        <td><%= link_to 'Show', resume_item %></td>
        <td><%= link_to 'Edit', edit_resume_item_path(resume_item) %></td>
        <td><%= link_to 'Destroy', resume_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

