<%= form_for(@project) do |f| %>
  <h2>Edit Project</h2>
  <div id="left_half">
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
  
        <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, size: "50x10" %>
    </div>
    <div class="field">
      <%
        tag_s = ""
        @project.tags.each do |tag|
          tag_s += "#{tag.value},"
        end
      %>
      <%= f.label :tags %><br>
      <%= f.text_field :tags, value: tag_s %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>

  <div id="right_half">
    <h2>Project Images</h2>
    <% @project.images.each do |img| %>
      <div class="image_edit">
        <%= image_tag img.file.url(:small) %> <br/>
        <%= f.radio_button(:primary_image_id, img.id) %>
        <%= f.label("primary_image_id_#{img.id}", "Primary Image", :selected => (@project.primary_image_id == img.id)) %><br/>
        <%= f.check_box(:images, {:multiple => true}, img.id, nil) %>
        <%= f.label("images_#{img.id}", "Remove Image") %>
      </div>
    <% end %>
  </div>

<% end %>

<div class="add_image">
  <h2>Add an Image</h2>
  <% @image = Image.new %>
  <%= form_for(@image, :html => {:multipart => true}) do |f| %>
    <%= f.hidden_field :project_id, :value => @project.id %>
    <%= f.hidden_field :requestor, :value => "project" %>
    <%= f.file_field :file %>
    <br/>
    <%= f.submit "Add Image"%>
  <% end %>
</div> 
