<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "50x10" %>
  </div>
  <div class="field">
    <%
      tag_s = ""
      @project.tags.each do |tag|
        tag_s += "#{tag.value},"
      end
    %>
    <%= f.label :tags %><br>
    <%= f.text_field :tags, value: tag_s %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
