<div class="project">

  <% if @project.url %>
    <h2><%= link_to @project.title, @project.url, :target => "new" %></h2>
  <% else %>
    <h2><%= @project.title %></h2>
  <% end %>

  <% if @project.primary_image %>
    <%= image_tag @project.primary_image.file.url, :width => "200", :class => "primary_img" %>
  <% else %>
    <%= #image_tag "default_project.png", :width => "200", :height => "200" 
    %>
  <% end %>

  <p class="description">
    <% if @project.url %>
      <%= link_to @project.description, @project.url, :target => "new" %>
    <% else %>
      <%= @project.description %>
    <% end %>
  </p>

  <p style="clear:both">
    <% @project.tags.each do |tag| %>
      | <%= link_to url2tag(tag.value), project_type_path(tag2url(tag.value)) %>
    <% end %>
    <% if @project.tags.size > 0 %>
      |
    <% end %>

    <% if is_admin? %>
      <%= link_to 'Edit', edit_project_path(@project) %> |
    <% end %>
  </p>

  <p class="icons">
  <% @project.images.each do |img| %>
    <% #if img.id != @project.primary_image_id 
    %>
    <% if @project.images.size > 1 %>
      <%= link_to img.file.url, :target => "new" do %>
        <%= image_tag img.file.url(:icon), class: "icon_img" %>
      <% end %>
    <% end %>
  <% end %>
  </p>

</div>
