<% provide(:title, "Phototography") %>

<%= render "gallery" %>

<div id="tileflow">
  <% @gallery.gallery_items.each do |gi| %>
    <%= link_to gi do %>
      <span class="tile1">
        <%= image_tag gi.image.url(:tile1) %>
      </span>
    <% end %>
  <% end %>
</div>

<% if is_admin? %>
  <%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<% end %>

<%= link_to 'Galleries', galleries_path %>
