<% provide(:title, "#{@resume.title.titleize} Resume") %>

<div id="objective" class="resume_item">
  <h2>Objective</h2>

  <%= @resume.objective %>
</div>

<% @educations.each do |ri| %>
  <% @resume_item = ri %>
  <%= render "resume_items/resume_item" %>
<% end %>

<% @jobs.each do |ri| %>
  <% @resume_item = ri %>
  <%= render "resume_items/resume_item" %>
<% end %>

<% @skills.each do |ri| %>
  <% @resume_item = ri %>
  <%= render "resume_items/resume_item" %>
<% end %>

<%=link_to "Find me on LinkedIn", "http://www.linkedin.com/in/carleriksvensson/", :target => "_blank" %> | 
<%=link_to "View my projects", projects_path %>

<% if is_admin? %>
  <br/>
  <%= link_to 'Edit', edit_resume_path(@resume) %>
<% end %>

