
<div id="footer-menu">
  <ul class="footer_nav">
    <li class="list-dot"><%=link_to "Resume", resume_title_path("Full") %></li>
    <li class="list-dot"><%=link_to "Projects", projects_path %></li>
    <li class="list-dot">Photography</li>
    <li class="list-dot">Music</li>
    <li class="list-dot">Blog</li>
    <li>About</li>
  </ul>
</div>
<div id="footer">

  <ul class="social_buttons center">
    <li><%=link_to image_tag("facebook.png", :border => 0, :width => "36px", :alt => "Facebook"), "https://www.facebook.com/carleriksvensson", :target => "_blank" %></li>
    <li><%=link_to image_tag("googleplus.png", :border => 0, :width => "36px", :alt => "GooglePlus"), "https://plus.google.com/+CarlErikSvensson", :target => "_blank" %></li>
    <li><%=link_to image_tag("linkedin.png", :border => 0, :width => "36px", :alt => "LinkedIn"), "http://www.linkedin.com/in/carleriksvensson/", :target => "_blank" %> </li>
    <li><%=link_to image_tag("twitter.png", :border => 0, :width => "36px", :alt => "Twitter"), "https://twitter.com/cecomp64", :target => "_blank" %></li>
    <li><%=link_to image_tag("github_white.png", :border => 0, :width => "36px", :alt => "GitHub"), "https://github.com/cecomp64", :target => "_blank" %></li>
    <li><%=link_to image_tag("stackoverflow.png", :border => 0, :width => "36px", :alt => "Stack Overflow"), "http://stackoverflow.com/users/1114973/cecomp64", :target => "_blank" %></li>
  </ul>
  <p>
  Social media icons are copyright their original owner.
  Stay in touch via social media.
  </p>
</div>

</body>
</html>

